<footer class="bg-dark text-white py-5">
  <div class="container">
    <div class="row d-flex justify-content-evenly">
      <div class="col-12 col-md-4 text-center">
        <article>
          <h3 class="fs-3">Get in Touch</h3>
          <p class="fs-6"><i class="fas fa-envelope"></i> {{ mail }}</p>
          <p class="fs-6"><i class="fas fa-user"></i> {{ contact }}</p>
        </article>
      </div>
      <div class="col-12 col-md-4 text-center">
        <button type="button" class="btn btn-outline-light border-3 my-5">
          Contact Me
        </button>
      </div>
      <div class="col-12 col-md-4 text-center">
        <article>
          <a href="#" class="text-white px-2 fs-4"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="#" class="text-white px-2 fs-4"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="#" class="text-white px-2 fs-4"
            ><i class="fab fa-twitter"></i
          ></a>
          <p class="pt-4 fs-6">{{ copyRight }}</p>
        </article>
      </div>
    </div>
  </div>
</footer>
