<div class="container py-5">
  <div class="row pt-md-5">
    <div class="col-md-3 col-xl-2 py-md-3">
      <article class="p-md-4">
        <h2 class="fs-2">{{ about }}</h2>
      </article>
    </div>
    <div class="col-md-9 col-xl-10">
      <article class="p-4">
        <p class="fs-6 pb-3 lh-md">{{ aboutContent }}</p>
        <a href="../../assets/file.pdf" download>
          <button class="btn btn-secondary">Download Resume</button>
        </a>
      </article>
    </div>
  </div>
</div>
